@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


p {
    margin-bottom: 1em;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1rem;
    margin-bottom: 1em;
    font-weight: bold;
}